.info{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    width: 90%;
    gap: 70px;
}

.courses{
    width: 900px;
} 

.projects{
    width: 900px;
}